* {
    box-sizing: border-box;
}

.test5 {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #192a32;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.app {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-app {
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-app .shaped {
    font-size: 30px;
}

.header-app .shaped :first-child {
    color: #f2b237;
}

.header-app .shaped :last-child {
    color: #2fc4be;
}

.header-app .active-user,
.header-app .replay-game {
    width: 55px;
    background-color: #254555;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}

.header-app .replay-game:hover {
    background-color: #468baa;
}

.game-box {
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* border: 1px solid white; */
    color: white;
}

.game-box-item {
    width: 70px;
    height: 70px;
    margin: 6px;
    font-size: 20px;
    color: white;
    background-color: #1f3540;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 6px 6px 3px #152025;
    transition: all 0.3s ease-out;
}

.game-box-item i {
    font-size: 30px;
}

.game-box-item .fa-dot-circle-o {
    color: #f2b237;
}

.game-box-item .fa-close {
    color: #2fc4be;
}


.game-box-item:hover {
    background-color: #254555;
}

.score-game {
    width: 230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-game button {
    width: 75px;
    height: 60px;
    padding: 10px 5px;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
}

.score-game button p {
    font-weight: bolder;
    margin: 0;
    padding: 5px;
}

.score-game button:nth-of-type(1) {
    background-color: #2fc4be;
}

.score-game button:nth-of-type(2) {
    background-color: #ccc;
}

.score-game button:nth-of-type(3) {
    background-color: #f2b237;
}
